* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: gray;
}

.memory-game {
    width: 1050px;
    height: 640px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

 .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
}

 .memory-card:active {
    transform: scale(.97);
    transition: transform .7s;
}

.memory-card.flip {
    transform: rotateY(180deg);
} 

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: fixed;
    border-radius: 10px;
    backface-visibility: hidden; 
}

 .front-face {
    transform: rotateY(180deg);
}  